<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Review</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/alexa/addReviews}" th:object="${review}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="reviewVal" class="col-form-label">Review</label>
                            <input type="text" th:field="*{reviewVal}" class="form-control"
                                   id="reviewVal" placeholder="Review" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="author" class="col-form-label">Author</label>
                            <input type="text" th:field="*{author}" class="form-control"
                                   id="author" placeholder="Author" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="reviewSource" class="col-form-label">Review source</label>
                            <input type="text" th:field="*{reviewSource}" class="form-control"
                                   id="reviewSource" placeholder="Review source" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="rating" class="col-form-label">Rating</label>
                            <input type="number" th:field="*{rating}" class="form-control"
                                   id="rating" placeholder="Rating"  min="1" max="5" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label">Title</label>
                            <input type="text" th:field="*{title}" class="form-control"
                                   id="title" placeholder="Title" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="productName" class="col-form-label">Product name</label>
                            <input type="text" th:field="*{productName}" class="form-control"
                                   id="productName" placeholder="Product name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="reviewedDate" class="col-form-label">Reviewed date</label>
                            <input type="datetime-local" th:field="*{reviewedDate}" class="form-control"
                                   id="reviewedDate" placeholder="Reviewed date" />
                        </div>


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>